@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-white/70 bg-black relative;
}
body::before{
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    background: radial-gradient(75.61% 75.61% at 50% 24.39%, rgba(180, 83, 9, 0.2) 0%, rgba(180, 83, 9, 0) 100%);
    z-index: -1;
}
.container {
   @apply max-w-5xl mx-auto px-5 !important;
}

.btn{
    @apply text-white/80 py-2 px-4 rounded-full;
    background: linear-gradient(88.68deg, #D97706 -36.99%, #F59E0B 111.2%);
}
.btn-rouned{
    @apply rounded-full;
}
.bg-primary{
    background: linear-gradient(88.68deg, #D97706 -36.99%, #F59E0B 111.2%);
}
.card{
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl p-5 min-w-[350px];
}

input[type="text"], input[type="email"], input[type="password"]{
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-lg w-full py-2 px-3;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    @apply text-white/80 opacity-50 text-sm;
  }
  
